---
import Layout from '../layouts/Layout.astro'
import TwoPicGrid from '../components/TwoPicGrid.astro'
import ThreePicGrid from '../components/ThreePicGrid.astro'

import OnePicGridWithText from '../components/OnePicGridWithText.astro'

import ThreePicGridWithCenterText from '../components/ThreePicGridWithCenterText.astro'

const twoPicGrid1 = ['/images/exterior1.jpg', '/images/exterior2.jpg']
const twoPicGrid2 = ['/images/exterior3.jpg']
const threePicGrid3 = [
  '/images/exterior4.jpg',
  '/images/exterior5.jpg',
  '/images/exterior6.jpg',
]

const twoPicInteriorGrid1 = [
  '/images/interior1-01.jpg',
  '/images/interior1-02.jpg',
]
const twoPicInteriorGrid2 = ['/images/interior1-03.jpg']

const threePicInteriorGrid3 = [
  '/images/interior1-04.jpg',
  '/images/interior1-05.jpg',
  '/images/interior1-06.jpg',
]

const twoPicInteriorGrid4 = [
  '/images/interior2-01.jpg',
  '/images/interior2-02.jpg',
]

const twoPicInteriorGrid5 = ['/images/interior2-03.jpg']

const twoPicInteriorGrid6 = [
  '/images/interior2-04.jpg',
  '/images/interior2-05.jpg',
]

const threePicWorkshed1 = [
  '/images/barn-01.jpg',
  '/images/barn-02.jpg',
  '/images/barn-03.jpg',
]
const onePicWorkshed2 = ['/images/barn-04.jpg']
const twoPicWorkshed3 = ['/images/barn-05.jpg', '/images/barn-06.jpg']

const twoPicPond1 = ['/images/pond-01.jpg', '/images/pond-02.jpg']
const onePicPond2 = ['/images/pond-03.jpg']
const twoPicPond3 = ['/images/pond-04.jpg', '/images/pond-05.jpg']

const twoPicOutdoors1 = [
  '/images/playing-outdoors-01.jpg',
  '/images/playing-outdoors-02.jpg',
]
const onePicOutdoors2 = ['/images/playing-outdoors-03.jpg']
const twoPicOutdoors3 = [
  '/images/playing-outdoors-04.jpg',
  '/images/playing-outdoors-05.jpg',
]

const threePicViews1 = [
  '/images/views01.jpg',
  '/images/views02.jpg',
  '/images/views03.jpg',
]

const twoPicViews2 = ['/images/views04.jpg', '/images/views05.jpg']

const threePicViews3 = [
  '/images/views06.jpg',
  '/images/views07.jpg',
  '/images/views08.jpg',
]
---

<Layout title='Steamboat Colorado House For Sale'>
  <main class='text-center'>
    <h1 class='text-3xl'>
      STEAMBOAT SPRINGS, COLORADO<br />
      10,470 SQ FT<br />
      STONE MOUNTAIN HOME<br />
      35 PRIVATE ACRES <br />
      $10,450,000
    </h1>
    <div class='flex justify-center items-center py-5'>
      <img src='/images/exterior2.jpg' alt='Steamboat House' />
    </div>
    <h1 class='text-3xl'>
      IN STRAWBERRY PARK <br />
      SEPARATE CARETAKER UNIT<br />
      POND, BARN AND CORRAL
    </h1>

    <h1 class='text-3xl mt-8 font-semibold'>Take a 3D Tour</h1>

    <h2 class='my-8'>
      <a
        target='_blank'
        href='https://my.matterport.com/show/?m=4Dfh5ELJ1pJ'
        class='text-2xl font-medium text-red-600 hover:underline'
        >https://my.matterport.com/show/?m=4Dfh5ELJ1pJ</a
      >
    </h2>
    <div class='flex justify-center items-center py-5'>
      <div class='flex flex-col md:flex-row'>
        <div class='p-4 flex-1 min-w-60'>
          <h3 class='text-2xl'>Main level</h3>
          <ul class='list-disc text-left'>
            <li>Living Room 25 x 15</li>
            <li>Family Room 23x 15</li>
            <li>Reading Room 20 x 14</li>
            <li>Main Bedroom 31 x 15</li>
            <li>Guest Bedroom 13.5 x 12</li>
            <li>Dining Room 18 x 13</li>
            <li>Kitchen with Pantry</li>
            <li>Breakfast Nook</li>
            <li>Office</li>
          </ul>
        </div>
        <div class='min-w-60 p-4 flex-1'>
          <h3 class='text-2xl'>Lower level</h3>
          <ul class='list-disc text-left'>
            <li>Game Room 15 x 32</li>
            <li>Bedroom 14 x 11</li>
            <li>Bedroom 17 x 12</li>
            <li>Bedroom 14 x 10</li>
            <li>Family Room 34 x 26</li>
            <li>750 sq ft of Storage</li>
            <li>Wine Room</li>
            <li>Gun Room</li>
            <li>Utilities</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Exterior -->
    <div class='max-w-4xl mx-auto'>
      <TwoPicGrid srcs={twoPicGrid1} name='Exterior1' />
      <OnePicGridWithText srcs={twoPicGrid2} name='Exterior2' text='Exterior' />
      <ThreePicGrid srcs={threePicGrid3} name='Exterior3' />

      <hr class='border-t-4 border-dashed border-purple-500 py-1 my-4 mx-5' />
    </div>

    <!-- Interior -->
    <div class='max-w-4xl mx-auto'>
      <TwoPicGrid srcs={twoPicInteriorGrid1} name='Interor1' />
      <OnePicGridWithText
        srcs={twoPicInteriorGrid2}
        name='Interior2'
        text='Interior'
      />
      <ThreePicGrid srcs={threePicInteriorGrid3} name='Interior3' />

      <hr class='border-t-4 border-dashed border-gray-300 py-1 my-4 mx-5' />
    </div>

    <!-- Interior 2 -->
    <div class='max-w-4xl mx-auto'>
      <TwoPicGrid srcs={twoPicInteriorGrid4} name='Interor2' />
      <OnePicGridWithText
        srcs={twoPicInteriorGrid5}
        name='Interior2'
        text='Interior'
      />
      <TwoPicGrid srcs={twoPicInteriorGrid6} name='Interior3' />

      <hr class='border-t-4 border-dashed py-1 my-4 mx-5' />
    </div>

    <!-- Barn Work Shed -->
    <div class='max-w-4xl mx-auto'>
      <ThreePicGrid srcs={threePicWorkshed1} name='Barn' />
      <OnePicGridWithText
        srcs={onePicWorkshed2}
        name='Barn'
        text='Barn and Work Shed'
      />
      <TwoPicGrid srcs={twoPicWorkshed3} name='Barn' />

      <hr class='border-t-4 border-dashed py-1 my-4 mx-5' />
    </div>

    <!-- Pond -->
    <div class='max-w-4xl mx-auto'>
      <TwoPicGrid srcs={twoPicPond1} name='Pond' />
      <OnePicGridWithText srcs={onePicPond2} name='Pond' text='Pond' />
      <TwoPicGrid srcs={twoPicPond3} name='Pond' />

      <hr class='border-t-4 border-dashed py-1 my-4 mx-5' />
    </div>

    <!-- OutdoorLiving -->
    <div class='max-w-4xl mx-auto'>
      <TwoPicGrid srcs={twoPicOutdoors1} name='Outdoor' />
      <OnePicGridWithText
        srcs={onePicOutdoors2}
        name='Outdoors'
        text='Outdoor Living'
      />
      <TwoPicGrid srcs={twoPicOutdoors3} name='Outdoor' />

      <hr class='border-t-4 border-dashed py-1 my-4 mx-5' />
    </div>

    <!-- Views -->
    <div class='max-w-4xl mx-auto'>
      <ThreePicGrid srcs={threePicViews1} name='Views' />
      <ThreePicGridWithCenterText
        srcs={twoPicViews2}
        name='Views'
        text='Views'
      />
      <ThreePicGrid srcs={threePicViews3} name='Views' />

      <hr class='border-t-4 border-dashed py-1 my-4 mx-5' />
    </div>

    <!-- Features -->

    <h3 class='text-2xl mb-6'>PROPERTY FEATURES >>>></h3>
    <h4 class='text-xl text-red-500'>
      35 Acres<br />
      6 Bedrooms<br />
      5.5 Bath<br />
      10,470 Square Feet
    </h4>
    <!-- More detail -->
    <div class='flex justify-center items-center py-5'>
      <div class='flex flex-col md:flex-row'>
        <div class='p-4 flex-1 min-w-60'>
          <h3 class='text-2xl'>RECENT UPGRADES</h3>
          <ul class='list-disc text-left'>
            <li>High quality roof shingles</li>
            <li>Domestic hot water heater</li>
            <li>Pressure tank</li>
            <li>4 Garage doors</li>
            <li>Cherry wood floors</li>
            <li>17 solar panels</li>
            <li>irrigation pumping system</li>
            <li>2 Viesman boilers</li>
          </ul>
        </div>
        <div class='min-w-60 p-4 flex-1'>
          <h3 class='text-2xl'>OTHER DETAILS</h3>
          <ul class='list-disc text-left'>
            <li>Detached private 2 story caretaker unit</li>
            <li>
              1728 sq ft barn with 2 large box stalls, water, and corral with
              bathroom
            </li>
            <li>Gas fireplaces</li>
            <li>Outdoor hot tub</li>
            <li>Hiking trails</li>
            <li>Pond</li>
            <li>Decks and patios</li>
            <li>Senior water rights</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- looking for privacy -->

    <h3 class='text-xl mt-4 mb-4 text-red-500'>
      If you’re looking for PRIVACY AND BEAUTIFUL VIEWS this family residence in
      a prime location near the downtown Steamboat is for you!
    </h3>
    <div class=''>
      <p>
        Welcome to this stunning stone European-inspired mountain home! It's
        situated on a 35 acre parcel in the desirable Strawberry Park. With a
        right of way to Routt National Forest land, there are boundless
        incredible nature views.
      </p>
      <p>
        The main level of the home is open and bright space with lots of natural
        sunlight. Enjoy cooking the chef's kitchen and having a formal living
        room, dining room, office, library, family room, master suite, guest
        room, and even a breakfast nook with panoramic views is truly luxurious.
      </p>
      <p>
        The lower level consists of four bedrooms, a game room, tv room and wine
        room. There's a large storage space for all your sports equipment too.
      </p>
      <p>
        The decks are the ideal spot to take in the breathtaking sunsets and
        observe the local wildlife.
      </p>
      <p>
        This property also caters to horse owners with the convenience of being
        able to walk to the barn and corral. And the fact that there's a pond
        for swimming, fishing, or paddle boarding adds a lovely recreational
        touch.
      </p>
      <p>
        Having a separate caretaker unit with its own one bedroom, one bath
        apartment and garage is a great bonus. It provides flexibility and
        privacy for property help or friends and family.
      </p>
      <p>
        The recent renovations, including new flooring, solar panels,
        state-of-the-art boilers with remote monitoring, and heavy-duty
        shingles, indicate that this home is not only beautiful but
        well-maintained.
      </p>
      <p>
        This is a dream home for families who love outdoor activities and want
        to enjoy the beauty of nature while still being close to town. The
        location of this property is truly ideal for nature lovers. With the ski
        slopes minutes away and panoramic views, it offers a unique and
        picturesque setting with multiple living spaces for relaxation and
        entertainment. It offers a perfect balance between being close to town
        and embracing the tranquility of nature.
      </p>
    </div>

    <!-- maps 1 -->

    <div class='flex justify-center items-center py-5'>
      <img src='/images/maps1.jpg' alt='Steamboat maps' class='mb-5' />
    </div>

    <div class='flex justify-center items-center py-5'>
      <ul class='list-disc text-left'>
        <li>40455 Virtus Way</li>
        <li>Private entrance</li>
        <li>Right of way to Routt National Forest</li>
        <li>Minutes to downtown</li>
        <li>4 miles to the ski slopes</li>
        <li>Across from the Middle School</li>
      </ul>
    </div>

    <!-- maps 2 -->

    <div class='flex justify-center items-center py-5'>
      <img src='/images/maps2.jpg' alt='Steamboat map 2' class='mb-5' />
    </div>

    <!-- Contact Form-->

    <div class='flex justify-center items-center py-5'>
			<div>

      <h4>Contact Form</h4>
			<p>
      NAME CITY, STATE PHONE NUMBER EMAIL ADDRESS</p>
			</div>
    </div>

		<!--Contact Me -->
    <div class='flex justify-center items-center py-5'>
			<div>
				<h5 class="font-bold">Contact Owner</h5>
			<ul class='list-disc text-left'>
				<li>Don Casey</li>
				<li>Email: dcasey@caseyusa.com</li>
				<li> Phone: 412-963-1111 ext 12</li>
			</ul>
			</div>
      
    </div>
  </main>
</Layout>
